
<div class="container"><h2>Checkout our wonderful tour guides</h2></div>


<div class="container index_page_container" style="margin-top: 5rem">
  <% @users.each do |user| %>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <img class="card-img-top avatar" alt="<%=user.username %>" src="<%=user.photo_url %>">
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <%= link_to "Book a Tour", user_path(user.id), class: "btn btn-primary index_page_book_btn" %>
      </div>
    </div>
  <% end %>

</div>