<div class="container about">
<h1>TRIPSY FOUNDERS</h1>

<%= image_tag "tripsy-jing.png" %>
<%= image_tag "tripsy-denise.png" %>
<%= image_tag "tripsy-ayesha.png" %>
<%= image_tag "tripsy-jasmine.png" %>
</div>
