// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.shopping_cart_item_container{
    display: flex;
    justify-content: center;
    align-items: center;
}