// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

//overriding users.scss styling
.product-card {
  width: 23rem !important;
  margin: 0 !important;
}

.product-container-index {
  gap: 2rem;
}

.product-card-img {
  margin: 0;
}

.product-show-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-page .product-show-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

h2 {
  margin: 3rem 0;
}

.product-show-view > * {
  margin: 5em 0 0 0 !important;
}

.product-show-view {
  flex-direction: column;
  align-items: flex-start;
}

.product-show-card p {
  font-size: larger;
}

.product-show-card h2 {
  margin-top: 0;
}

.product-show-card p a:not(:first-child) {
  margin-left: -.2em;
}

.product-show-card p a:empty {
  display: none;
}

.product-show-card p a:not(:first-child):before {
  content: ", ";
}

.product-card-body-show {
  margin-left: 1.5rem;
}

.explore-page > * {
  margin: 0 0 5rem 0 !important;
}

