// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "~bootstrap-4.0.0/scss/_functions.scss";
@import "~bootstrap-4.0.0/scss/_variables.scss";
@import "~bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

.avatar {
    max-width: 90%;
    height: auto;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.card {
    width: 15rem;
    margin: 1rem 2rem 1rem 2rem;
}

.container {
    display: flex;
    flex-wrap:wrap;
}

.show_page_container {
    display: flex;
    flex-wrap: wrap;
}

.user_account_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.tour_list_table {
    width: 40rem;
    margin-top: 3rem;
}

.index_page_book_btn {

}

.nav-tabs {
  width: 100%;
}

.user_account_container .card {
  margin: 1rem 0 0 0;
  width: 30%;
}

.user-show-page {
  margin-top: 5rem;
  justify-content: space-between
}

.user-show-page .card{
  margin: 0;
  width: 25%;
}

.user-show-page .table{
  width: 70%;
  margin: 0;
}



@media (max-width: 767.98px) {
  .user-show-page .card{
    width: auto;
  }

  .user-show-page .table{
    width: auto;
  }

}