<h2><%= @category.name %> Tours</h2>

<% @category.products.each do |product| %>
  <article>
    <%= link_to image_tag("#{product.photo_url}", alt: "#{product.name}", class: "product-images-index"), product_path(product) %>
    <h3><%= link_to "#{product.name}", product_path(product) %></h3>
    <%# todo figure out what ratings look like, stars? %>
    <!--      <p><%#= product.avg_rating %></p>-->
    <h4>$<%= product.price %></h4>
  </article>
<% end %>